* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Helvetica, sans-serif;
}

.todo-container {
  width: 480px;
  height: 100dvh;
  margin: 0 auto;
  background: #ddeeff;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

form, .tab-container {
  width: 440px;
  margin: 20px auto;
}

form {
  height: 48px;
  border: 4px solid #ff8000;
  border-radius: 24px;
  display: flex;
  background-color: #fff;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 16px;
}

input[type="text"] {
  flex: 1;
}

input[type="submit"] {
  color: #fff;
  background-color: #ff8000;
  cursor: pointer;
}

.tab-input {
  display: none;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #ff8000;
}

.tab-label {
  padding: 10px 20px;
  background-color: #eee;
  border: 2px solid #ff8000;
  border-bottom: none;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s;
}

.tab-label:hover {
  background-color: #ccc;
}

#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"],
#tab3:checked ~ .tabs label[for="tab3"] {
  background-color: #ddd;
  border-bottom: 2px solid #ddd;
  margin-bottom: -2px;
}

#tab2:checked  ~#todolist .content-item:has(input:checked),
#tab3:checked  ~#todolist .content-item:has(input:not(:checked)) {
  display: none;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

li {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  flex: 1;
  height: 1.5rem;
  cursor: pointer;
}

input[type="checkbox"] + p {
  flex: 8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  text-decoration-thickness: 0.25rem;
}

.delete {
  flex: 1;
  margin-right: 0.1875rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  color:#fff;
  background-color: #ff8000;
  border-radius: 1.5rem;
}


#todolist {
  list-style-type: none;
  padding: 0;
}

#todolist li {
  margin: 0.5rem 0;
  background-color: #f5d3b1;
  border: 0.125rem solid #ff8000;
  border-radius: 1.5rem;
  cursor: move;
  transition: all 0.3s ease;
  touch-action: none;
}

#todolist li.dragging {
  opacity: 0.5;
  background-color: #ccc;
  transform: scale(0.875);
}

#todolist {
  min-height: 20px;
  margin: 0px 0;
  padding: 10px;
  list-style-type: none;
  position: relative;
  border: 2px solid #ff8000;
  border-top: none;
  background-color: #ddd;
}

.moving {
  transition: transform 0.25s ease;
}

li:has(input[type="radio"]:checked) {
  border: 2px solid blue;
  border-radius: 24px;
}
